/*-- scss:defaults --*/

@use 'functions' as f;
@use 'variables' as v;
//@use 'sass:map';


@import './resets';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Mixins are for style
//functions compute values



// fonts

$body-color: v.get-color(deep-blue);
$headings-color: v.$red;

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin transition-slow{
    transition: all 3s ease-in-out;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

body {
    background: v.$beige;
}

header {
    position: fixed;
    z-index: 2;
    width: 80%;
    padding: 1rem;
}

p {
    font-family: "Montserrat";
    color: v.$black;
    font-weight: f.weight(thin);
}

main{
    background-color: white;
}

//div class main becase . means div
.main {
    width: 80%;
    margin: 0 auto;
    background:
        radial-gradient(
            circle at center,
            v.$yellow, 
            blue, 
            v.$teal,
            green 100%
        );
    border-bottom: 5px solid v.$black;

    #{&}__paragraph_1 {
        font-weight: f.weight(bold);
        color: v.$blue;

        &:hover {
            color: v.$red;
            @include transition-ease;
        }
    }

    #{&}__h2{
        font-size: 4rem;
        font-weight: weight(bold);
        &:hover{
            color: pink;
        }
    }

    #{&}__paragraph_2 {
        @extend .main__paragraph_1;
        
        &:hover{
            color: whitesmoke;
            @include transition-slow;
        }
    }

}

